.editIcon {
  height: 30px;
}

.removableBoxHolder {
  display: flex;
  flex-wrap: wrap;
}

.editFormAddIcon {
  color: #9277c9;
}

.editFormAddIcon:hover {
  color: #826ab3;
}

.myAddInputRow {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.editFormSocialIcon {
  color: #9277c9;
}

.imageUploadContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#profilePictureUploadPreview {
  object-fit: cover;
  height: 60px;
  width: 80px;
}

.editProfileModal {
  /* max-height: 85vh;
  min-height: 85vh; */
  min-width: 45vw;
}

.editChips {
  margin: 4px;
}

.editFormErrorMessage {
  color: red;
  text-align: center;
}