.editIcon {
  height: 30px;
}

.removableBoxHolder {
  display: flex;
  flex-wrap: wrap;
}

.editFormAddIcon {
  color: #9277c9;
}

.editFormAddIcon:hover {
  color: #826ab3;
}

.myAddInputRow {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.editFormSocialIcon {
  color: #9277c9;
}

#myPreview {
  object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}