.removableBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 4px;
    background-image: linear-gradient(#BEA9E9, #DACEF2);
    border: 0.25px solid black;
}

.customCancelIcon:hover {
    color: #ff3333;
}