.booked {
  color: #f4f4f4;
  border: 0px;
  border-radius: 10px;
  background-color: #c1d579;
}

.booked:hover {
  background-color: #adbf6c;
}

.popoverTitleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
}

.popoverTitleContainer div {
  display: flex;
  align-items: center;
}

.cancelIcon {
  width: 40px;
}

.cancelIcon:hover {
  filter: invert(40%) sepia(31%) saturate(4953%) hue-rotate(335deg)
    brightness(109%) contrast(100%);
}
