.profilePage {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.tutorProfileContainer, .tutorWeekContainer {
  display: flex;
}

.tutorWeekContainer {
  width: 60vw;
}

.tutorProfileContainer {
  width: 30vw;
}