.favoriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutors {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
}

.headerContainer {
  color: #f2f2f2;
  background-color: #a385e0;
  align-self: stretch;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.headerContainer h5 {
  font-weight: normal;
}

.tutorRowContainer {
  display: flex;
}
