.tutorView {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
}

.tutorView img {
  object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.tutorView h4 {
  font-size: 22px;
}

.goToProfileBtn {
  font-size: small;
}

.tutorView:hover {
  box-shadow: 0 8px 6px -6px #999999;
  transform: scale(1.03);
  transition: all 0.15s ease-in-out;
}

.tutorView:focus {
  box-shadow: 0 8px 6px -6px #999999;
  transform: scale(1.03);
  outline-width: 0;
  border: solid 1px #999999;
}
