.scheduleScrollContainer {
  overflow-y: scroll;
}

.stickyHeaderRow {
  position: fixed;
  top: 0;
  width: 100%;
}

.weeklySchedule thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.weeklySchedule {
  text-align: center;
  background-color: #f5f2fb;
}

.weeklySchedule th, td {
  /* padding: 10px; */
  border-bottom: 0.6px solid #e1e1e1;
  border-right: 0.6px solid #e1e1e1;
}

.weeklySchedule th {
  font-weight: normal;
  color: #f2f2f2;
  /* width: 110px; */
  border: 0.6px solid #e1e1e1;
  background-color: #a385e0;
}

.weeklySchedule td {
  height: 35px;
}

.time {
  position: relative;
  bottom: 20px;
  border: 0px;
  /* border-right: solid #D8D8D8; */
}

.weekControlSection {
  display: flex;
  background-color: #e6dff5;
  /* color: #F5F2FB; */
  margin-bottom: 3px;
  font-weight: normal;
  padding: 10px;
}

.weekControlSection h5 {
  margin-left: 5px;
  margin-right: 5px;
}

.weekScheduleContainer {
  display: flex;
  flex-direction: column;
}

.pastSlot {
  background-color: #cacaca;
}

.weekChangeIcons:hover {
  background-color: #f5f2fb;
  object-fit: cover;
  border-radius: 50%;
}