table {
    text-align: center;
    background-color: #F5F2FB;
    /* border-collapse:separate; 
    border-spacing:0 2px;  */
}

th, td {
    /* padding: 10px; */
    border-bottom: 0.6px solid #E1E1E1;
    border-right: 0.6px solid #E1E1E1;
}

th {
    font-weight: normal;
    color: #F2F2F2;
    /* width: 110px; */
    border: 0.6px solid #E1E1E1;
    background-color: #a385e0;
}

td {
    height: 35px;
}

.time {
    position: relative;
    top: 20px;
    border: 0px;
    /* border-right: solid #D8D8D8; */
}

.weekControlSection {
    display: flex;
    background-color: #e6dff5;
    /* color: #F5F2FB; */
    margin-bottom: 3px;
    font-weight: normal;
    padding: 10px;
}

.weekControlSection h5 {
    margin-left: 5px;
    margin-right: 5px;
}

.weekScheduleContainer {
    display: flex;
    flex-direction: column;
}

.pastSlot {
    background-color: #cacaca;
}

.weekChangeIcons:hover {
    background-color: #F5F2FB;
    object-fit: cover;
    border-radius: 50%;
}