.dashboardContainer {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.innerDashboardContainer {
  display: flex;
  height: 68vh;
}

/* Scroll bar */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
