.dashboardContainer {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.weekScheduleContainer, .sidePanelContainer {
  display: flex;
  height: 75vh;
}

.weekScheduleContainer {
  width: 60vw;
}

.sidePanelContainer {
  width: 30vw;
}