.profilePage {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.tutorProfileContainer,
.tutorWeekContainer {
  display: flex;
  height: 66vh;
  margin-top: -100px;
}
